<div class="modal-header">
    <h3 class="modal-title">Cadastrar Pessoa</h3>
</div>
<div class="modal-body">
    <form>
        <input class="form-control" type="text" placeholder="Nome" ng-model="cadastro.nome">
        <input class="form-control" type="text" placeholder="Documento" ng-model="cadastro.documento">
        <input class="form-control" type="text" placeholder="Contato" ng-model="cadastro.contato">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>