<nav class="navbar navbar-default">
    <div class="container-fluid col-sm-10 col-sm-offset-1">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':hoverUsuario}"
                ng-mouseenter="hoverUsuario=true"
                ng-mouseleave="hoverUsuario=false"
            ><a href="#/usuario">Usuario</a></li>
            <li ng-class="{'active':hoverPessoas}"
                ng-mouseenter="hoverPessoas=true"
                ng-mouseleave="hoverPessoas=false"
            ><a href="#/pessoas">Pessoas</a></li>
            <li ng-class="{'active':hoverProcessos}"
                ng-mouseenter="hoverProcessos=true"
                ng-mouseleave="hoverProcessos=false"
            ><a href="#/processos">Processos</a></li>
            <li ng-class="{'active':hoverFinanceiro}"
                ng-mouseenter="hoverFinanceiro=true"
                ng-mouseleave="hoverFinanceiro=false"
            ><a href="#/recibos">Recibos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{'active':hoverSair}"
                ng-mouseenter="hoverSair=true"
                ng-mouseleave="hoverSair=false"
            ><a href="#/login">Sair</a></li>
        </ul>
    </div>
</nav>